
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="bold-title">Cat Listing</ion-title>
  </ion-toolbar>
  <ion-card class="card-width">
    <ion-toolbar>
      <ion-searchbar color="tertiary" placeholder="Tertiary"></ion-searchbar>
    </ion-toolbar>
    <ion-list class="select-list">
      <ion-item>
        <ion-label>Search By</ion-label>
        <ion-select placeholder="Choose">
          <ion-select-option value="Breed">Breed</ion-select-option>
          <ion-select-option value="Country">Country</ion-select-option>
          <ion-select-option value="Origin">Origin</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>  
  <hr><hr><hr>
  <ion-card class="card-width">
<ion-grid>
  <ion-row>
    <ion-col>BIL.</ion-col>
    <ion-col>BREED</ion-col>
    <ion-col>COUNTRY</ion-col>
    <ion-col>ORIGIN</ion-col>
    <ion-col>COAT</ion-col>
    <ion-col>PATTERN</ion-col>
  </ion-row>
</ion-grid>
  </ion-card>
</ion-header>


